In [15]:
import pandas as pd

Import de dados do IBGE

In [ ]:
nomes_m = pd.read_json('https://servicodados.ibge.gov.br/api/v1/censos/nomes/?qtd=200&sexo=m')
nomes_f = pd.read_json('https://servicodados.ibge.gov.br/api/v1/censos/nomes/?qtd=200&sexo=f')

In [16]:
nomes_m.head(3)

      nome  regiao     freq  rank sexo
0     JOSE       0  5732508     1    M
1     JOAO       0  2971935     2    M
2  ANTONIO       0  2567494     3    M

In [17]:
nomes_f.head(3)

        nome  regiao      freq  rank sexo
0      MARIA       0  11694738     1    F
1        ANA       0   3079729     2    F
2  FRANCISCA       0    721637     3    F

In [18]:
print("Quantidade de nomes: " + str(len(nomes_f) + len(nomes_m)))

Quantidade de nomes: 400